ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* Part 1 */
p {color: red;}

/* Part 2 */
.note {font-size: 20px;}

/* Part 3 */
#id-selector-demo {color: green;}

/* Part 4 */
li[value = "4"] {color: blue;}

/* Part 5 */
* {text-align: center;}
